@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

/*  */
@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:wght@400;700&display=swap');

*, *::after,*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --bg-color: #0a192f;
    --secondary-color:#05f1ca;
    --grey-color: #8892b0; 
}

html {
    font-size: 62.5%;
    /* font-family: 'Open Sans', sans-serif; */
    font-family: 'Libre Baskerville', serif;
    line-height: 1.5;
    scroll-behavior: smooth;

    /* line-height: 1.5; */
}

body {
    background-color: var(--bg-color);
    overflow-x: hidden;

}

a {
    text-decoration: none;
    font-family: 'Libre Baskerville', serif;
}

li {
    list-style: none;
}

/* ======= subtle, yet beautiful  =========== */
.hidden{
    opacity: 0;
    filter: blur(5px);
    transform: translateX(-100%);
    transition: all 1.8s;
}
.show{
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
}

.service-flex:nth-child(1){
    transition-delay: 200ms;

}
.service-flex:nth-child(2){
    
    transition-delay: 400ms;
}
.service-flex:nth-child(3){
    
    transition-delay: 600ms;
}

.main_middle:nth-child(1){
    transition-delay: 200ms;

}
.main_middle:nth-child(2){
    
    transition-delay: 400ms;
}
.main_middle:nth-child(3){
    
    transition-delay: 600ms;
}

.main_middle:nth-child(4){
    transition-delay: 750ms;

}
.main_middle:nth-child(5){
    
    transition-delay: 950ms;
}
.about_me_container:nth-child(1){
    transition-delay: 200ms;

}
.about_me_container:nth-child(2){
    
    transition-delay: 400ms;
}

/* ======= end subtle, yet beautiful  =========== */

.underline {
    border: 1px solid var(--secondary-color);
    width: 30vw;
    height: 0px;
    border-left: 50%;
    text-align: center;
    animation: fadeInUp 0.5s ease-in-out 0.2s;
      /* stop from showing at start of animation */
  animation-fill-mode:both ;

}
#preloader{
    background: url(/images/preloader\ 2\ edit.gif) no-repeat center center;
    background-size: 40%;
    background-color: var(--bg-color);
    height: 100vh;
    width: 100%;
    position: fixed;
    z-index: 100;
}



/* =========== navbar on scroll end =========== */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 2rem 12rem;
    height: 15vh;
    /* position: fixed; */
    z-index: 999;
    transition: all 300ms ease-in-out;
}

.header .logo a {
    color: var(--secondary-color);
    font-size: 10rem;
    font-family: 'Mova';
    font-style: normal;
    font-weight: 400;
    /* text-align: center; */
    cursor: pointer;
    margin-top: 1rem;
}

nav ul {
    display: flex;
    padding-inline: 10px;
}

nav ul li a {
    color: var(--secondary-color);
    font-style: normal;
    font-weight: 300;
    font-size: 2rem;
    margin-inline: 2rem;
    cursor: pointer;
    text-transform: uppercase;

}

.main {
    width: 100%;
    color: #98DAD9;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    margin-top: 14rem;


}
.contact_li{
    display: flex;
    align-items: center;
    gap: 1rem;
    border: 2px dashed var(--secondary-color );
    padding: 1rem;
    border-radius: 2rem;

}

/* ========== left icons styling ========== */
.left_icons {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    position: relative;
    align-items: center;
    margin-left: 3rem;

}

.main_icons_container {
    display: flex;
    position: absolute;
    flex-direction: column;
    top: 150px;

}

.icons img {
    
    height: 2.5rem;
    margin: 1rem;
    border-radius: 40%;
    cursor: pointer;
    padding: 0.1rem;
    border: 1px solid #98DAD9;
    transition: all .2s ease-in-out;

}

.icons img:hover {
    transform: scale(1.1);
    background-color:#FFFFFF ;
}

/*  ========== middle part ==========  */
.main_middle {
    grid-column: 2/ span 3;
    width: 100%;
    margin-top: 5.5rem;
    margin-left: 2rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: left;
    padding: 1rem;
}

.main_p {
    /* align-items: center; */
    font-weight: 300;
    font-size: 2.5rem;
    color: var(--secondary-color);
    /* animation:  fadeInUp 0.5s ease-in-out  ; */
}

h1 {
    font-family: 'Mova';
    font-style: normal;
    font-weight: 400;
    font-size: 7rem;
    color: #FFFFFF;
    /* animation:  fadeInUp 0.5s ease-in-out ; */
    animation-fill-mode:both ;
}

.heading2_p {
    font-family: 'Libre Baskerville', serif;
    font-weight: 300;
    font-size: 5rem;
    color: var(--grey-color);
    /* animation: fadeInUp 0.5s ease-in-out 0.2s; */
      /* stop from showing at start of animation */
  animation-fill-mode:both ;
  text-align: left;

}

.main_p2 {
 
    font-weight: 300;
    font-size: 2rem;
    color: #FFFFFF;
    /* padding: 10px 0; */
    /* animation: fadeInUp 0.5s ease-in-out 0.2s; */
    animation-fill-mode:both ;
}

.main_btn a {
    color: #FFFFFF;
    padding: 1rem;
}

.main_btn {
    position: relative;
    font-weight: 300;
    font-size: 3.4rem;
    padding: 10px;
    border-radius: 15px;
    border: 1px solid #98DAD9;
    color: #EAEBED;
    background-color: #2E424D;
    margin-top: 2.5rem;
    cursor: pointer;
    /* animation:  fadeInUp 0.5s ease-in-out ; */
    animation-fill-mode:both ;
}
.main_btn:hover{
    /* background-color: wheat; */
    transition: all 1s;
    box-shadow: 5px 4px 10px 1px rgba(152, 218, 217, 0.25);
    color: black;
}


.side_email {
    overflow: hidden;
    grid-column: 5/span 2;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-left: 8rem;
    padding-bottom: 1.5rem  ;

}

.email a {
    color: #EAEBED;
    font-size: 1rem;
    line-height: 1.5;
    text-align: center;
}

.email a:hover {
    color: #98DAD9;
    cursor: pointer;
}

.email {
    margin-top: 11rem;

}


/* *--------------- About me section --------------- */
.about_me{
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* gap: 10rem; */
    background: #00235840;
    padding: 1.5rem 1.5rem;
}
.about_me_container{
    display: flex;
    flex-direction: row;
    align-items: center;
    /* justify-content: space-between; */
    color: var(--grey-color);
    width: 100vw;
    margin: 2rem auto;
    padding: 10rem auto;
    
}

.about_p_1, .about_p_2{
    margin-bottom: 1.8rem;
}
.about_p_3{
    margin-top: 3rem;
}

.svg{
    animation: boxes 2s infinite;
    animation-direction: alternate
}
.text_about_me{
    font-size: 1.5rem;
    width: 100%;
    padding: 3rem;
    word-wrap: break-word;

}

.about_me_container svg{
    width: 30vw;
    margin-left: 10rem;
    margin-right: 1rem;
    animation: boxes;
}
.about_me_container .mywork,  span{
    color: var(--secondary-color);
    
}
.resume-btn{
    font-size: 2rem;
    padding: 1rem 2rem;
    display: flex;
    align-items: center;
    gap: 1.2rem;
    border-radius: 1.2rem;
    margin-bottom: 2rem;
    border: 3px solid var(--grey-color);
    background: white;
}
.skills_header{
    color: white;
    font-family: 'Mova';
    font-weight: 400;
    font-size: 2rem;
    margin-bottom: 1rem;
}
.skills_header{
    font-size: 2.4rem !important;

}
.skills_icons{
    margin-top: 4rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}
.skills_icons_container{
    display: flex;
    gap: 2rem;
    margin-bottom: 3rem;
}
.skills_icons .si img{
    width: 8rem;
    cursor: pointer;
    border-radius: 7px;
    object-fit: contain;
}
.skills_icons .si p{
    color: white;
    text-align: center;
    
}
.skills_icons .si  img:hover p{
    visibility: visible;
}
.resume-btn a{
    color: var(--bg-color);
}


.mobile_footer{
    display: none;
}
/* *********** about me svg animations ************** */
.right #leaves{

        animation: skew 3s infinite;
        transform: skew(10deg);
        animation-direction: alternate;
      
      
}
@keyframes skew {
    0% {
        transform: skewX(1deg);
      }
      100% {
        transform: skewX(-1deg);
      }
  }



#upper_box{
    animation: boxes 2s infinite;
    animation-direction: alternate;
    
}
@keyframes boxes {
    0% {
      transform: skewY(0.5deg);
    }
    100% {
      transform: skewY(-0.5deg);
    }

}
#hand{
    animation: shake 2s infinite;
    animation-direction: alternate;
}

@keyframes shake {
0% {
  transform: skewY(3deg);
}
100% {
  transform: skewY(-3deg);
}



}
/* *--------------- our service section --------------- */
.service-section {
    /* min-height: 100vh; */
    margin: 4rem auto;
}

.service-flex {
    display: flex;
    max-width: 90vw;
    margin: 0 auto;
    justify-content: space-around;
    flex-wrap: wrap;

}

.service-box {
    width: 30rem;
    height: auto;
    margin-inline: 2rem;
    text-align: center;
    /* box-shadow: var(--shadpw); */
    border-radius: 5px;
    padding: 6.4rem 3.4rem;
    transition: all 0.2s linear;
    background-color: #eaebed;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 3rem;
    margin-top: 10rem;
    filter: drop-shadow(10px 10px 7px rgba(152, 218, 217, 0.25));
}

h3 {
    margin: 1rem auto;
    font-size: 1.8rem;
   
}
.seo{
    font-family: 'Libre Baskerville', serif;
    color: black;
}

.service-p {
    max-width: 300px;
    font-size: 1.5rem;
    font-weight: 300;
    margin: 10px auto;
    font-family: 'Courier New', Courier, monospace;

}

.service-box:hover {
    transform: translateY(-3rem);
}

.service-icon {
    width: 17rem;
    height: 15rem;
    background-color: rgb(144 172 209 / 20%);
    display: inline-block;
    border-radius: 56% 44% 70% 30% / 30% 54% 46% 70%;
    padding: 1rem 1rem;
    position: relative;
    animation: water-wave 3s linear infinite;
    z-index: 1;
}

.service-icon::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 1px solid rgba(11, 15, 20, 0.9);
    width: 90%;
    height: 90%;
    border-radius: 56% 44% 70% 30% / 30% 54% 46% 70%;
    background-color: transparent;
    animation: water-wave 5s linear infinite alternate;
}

/*  ================ ANIMATIONS =============== */
@keyframes fadeInUp {
    0%{
      opacity: 0;
      transform: translateY(140px);
    }
    100%{
      opacity:1 ;
      transform: translateY(0);
    }
}
    
  

@keyframes water-wave {
    0% {
        border-radius: 56% 44% 70% 30% / 30% 54% 46% 70%;
    }

    50% {
        border-radius: 3% 97% 15% 85% / 72% 0% 100% 28%;
    }

    100% {
        border-radius: 56% 44% 70% 30% / 30% 54% 46% 70%;
    }
}




/* * ---------------- our work section -------------- */

.my_work{

    width: 100vw;
    margin: 0 auto;
    
}

.swiper {
    width: 100%;
    height: 100%;
  }
  .left img{
    display: inline-block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    
    
  }

  .left, .right {
    /* position: relative; */
    height: 100%;
    width: 50%;
  }

  .work{
    display: flex;
    align-content: center;
    justify-content: space-around;
    padding: 3rem;
    color: #eaebed;
    gap: 1rem;
    border: 4px solid #8892B0;
    box-shadow: 15px 18px 7px rgba(0, 0, 0, 0.25);
    margin: 2rem 4rem;
    height: 50vh;
  }

  .work_description{
    height: 100%;
    width: 100%;
    border: 4px solid #8892B0;
    box-shadow: 15px 18px 7px rgba(0, 0, 0, 0.25);
    display: flex;
    flex-direction: column;
    text-align: left;
    justify-content: space-around;
    gap: 1rem;
    padding: 2rem;
    /* border: 1px solid black; */
  }
  .project_title{
    /* border: 1px solid black; */
    font-size: 2rem;
    padding: 1rem;
    border-left: 3px solid var(--secondary-color);
    background:     #081b38 ;
    
  }
  .description{
    font-size: 1.8rem;
    background:     #081b38 ;
    width: fit-content;
    padding: 1rem;
    border-bottom: 1px solid var(--secondary-color);
  }
  .project_intro{
    font-size: 1.3rem;
    margin-top: 1.1rem;
  }
  .footer_button{
    margin-top: 2rem;
    display: flex;
    align-items: center;
    gap: 2.5rem;
    
  }
  .tech_used_icons{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
  }
  .tailwind{
    width: 50px;
  }
/* * ---------------- our contact section -------------- */
.section-contact {
    /* min-height: 100vh; */
    background: rgba(0, 35, 88, 0.25);
    
}

.heading_main {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.contact_us_h1 {
    text-align: center;
}

.grid {
    display: grid;
    gap: 8rem;
}

.grid-two-col {
    grid-template-columns: repeat(2, 1fr);
}

.section-contact-main {
    max-width: 70rem;
    margin: 0 auto;
    margin-top: 1.5rem;
    padding: 4rem ;

}

.section-contact-main form {
    display: flex;
    flex-direction: column;
    gap: 3rem;
}

.section-contact-main .grid {
    gap: 2.4rem;
}

.section-contact-main input,
textarea {
    padding: 1.5rem 2rem;
    border: 3px solid #98DAD9;
    border-radius: 5px;
    width: 100%;
    font-size: 1.6rem;
   
}

.section-contact-main input,
textarea:focus {
    outline: none;
    color: #2E424D;
}

.section-contact-main textarea {
    height: 15rem;
}

::placeholder {
    font-size: 1.6rem;
    font-family: "work sans";
}

.section-contact-main input[type="submit"] {
    max-width: 30%;
    border: none;
}

.section-btn {
    /* background: #2E424D; */
    box-shadow: 5px 4px 10px 1px rgba(152, 218, 217, 0.25);
    border-radius: 10px;
    color: #EAEBED;
    cursor: pointer;
}

.section-btn:hover {
    background-color: #98DAD9;
    transition: all 1s;
    box-shadow: 5px 4px 10px 1px rgba(152, 218, 217, 0.25);
    color: black;

}

.contact_para{
    font-size: 1.8rem;
    color: var(--grey-color);
    word-wrap: break-word;
    margin-top: 2rem;
    padding: 1rem 2rem;
    
}

/* ========= responsive part ======== */


@media screen and (max-width:1160px) {
    
    .header .logo a{
        font-size: 8rem;
    }
    nav ul li a{
        font-size: 1.5rem;
    }
    .vertical_line2 {
     margin-top: 8rem;     
}
h1{
    font-size: 7.5rem;
}
.main_p2{
    font-size: 1.7rem;
}
.main_btn{
    font-size: 2.4rem;
     padding: 8px;
}
.heading2_p{
    font-size: 4rem;
}

/* === about me ==== */

.about_me_container svg{
    width: 30vw;
    margin-right: 7.4rem;
}
.text_about_me{
    font-size: 1.3rem;
    width: 100%;
    padding: 2rem;
    word-wrap: break-word;
}
.skills_icons .si img{
    width: 3rem;
    object-fit: contain;
}
/* ++++++++ my work section ++++++ */
.my_work{
    width: 99vw;
    margin: 0 auto;
}
.left{
    width: 42%;
}
.right{
    width: 58%;
}

}


@media screen and (max-width:925px) {
    .header{
        padding: 1.5rem 6rem;
    }
    .header .logo a{
        font-size: 6rem;
    }
    h1{
        font-size: 6rem;
    }
    nav ul li a{
        font-size: 1.2rem;
    }
    .vertical_line2 {
     margin-top: 8rem;     
}
.main_p2{
    font-size: 1.5rem;
}
.main_btn{
    font-size: 2rem;
     padding: 6px;
}
.heading2_p{
    font-size: 3.2rem;
}

/* === about me ==== */


.about_me{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.about_me_container svg{
    width: 30vw;
    margin-right: 7rem;
}
.text_about_me{
    font-size: 1.1rem;
    width: 100%;
    padding: 1.5rem;
    word-wrap: break-word;
}

.skills_header{
    margin-top: 1.8rem;

}
    /* === service section ==== */
    .service-box {
        width: 25rem;
        height: auto;
        margin-inline: 1rem;
        text-align: center;
        /* box-shadow: var(--shadpw); */
        border-radius: 5px;
        padding: 6rem 3rem;
        transition: all 0.2s linear;
        background-color: #eaebed;
        display: flex;
        flex-direction: column;
        align-items: center;
        border-radius: 2.5srem;
        margin-top: 10rem;
        filter: drop-shadow(10px 10px 7px rgba(152, 218, 217, 0.25));
    }
    
    h3 {
        margin: 0.8rem auto;
        font-size: 1.5rem;
    }
/* +++++ my work section ++++++++++++++++ */
    .project_title{
        font-size: 1.8rem;
    }
    .description{
        font-size: 1.5rem;
    }
    .project_intro{
        font-size: 1.4rem;
        margin-bottom: 0.5rem;
    }

     .work{
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: space-around;
    padding: 1.5rem;
    color: #eaebed;
    gap: 2.5rem;
    height: 100%;
    align-items: center;
    justify-content: center;
    margin: 1.4rem 1.5rem;
  }
.left, .right{
    width: 100%;
}
  .footer_button{
    margin-top: 1.8rem;
    display: flex;
    align-items: center;
    gap: 1.8rem;
    
  }
  .tech_used_icons{
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .technology{
    max-width: 60%;
  }
  .tailwind{
    width: 40px;
  }
 
    
  .contact_para{
    font-size: 1.4rem;
    
}
}

@media screen and (max-width:768px){
    .left_icons{
        display: none;
    }
    .main{
        display: grid;
        width: 90vw;

    }
    .main_middle{
       display: flex;
       height: 100vh;
       width: 100%;
       align-items: left;
       margin: 3rem 0;
       padding-inline: 0.5rem;
    }
    .icons img {
    
        height: 2.5rem;
        border-radius: 30%;
        cursor: pointer;
        border: 1px solid var(--secondary-color);
        transition: all .2s ease-in-out;
    
    }
    .header{
        padding: 1.4rem 2rem;
    }
    .header .logo a{
        font-size: 5rem;
    }
    h1{
        font-size: 4.9rem;
    }
    nav ul li a{
        font-size: 1.2rem;
    }
    .vertical_line2 {
     margin-top: 8rem;     
}
.main_p2{
    font-size: 1rem;
}
.main_btn{
    font-size: 2rem;
     padding: 6px;
}
.heading2_p{
    font-size: 2.5rem;
    word-wrap: break-word;
}

.side_email{
    display: none;
}

/* =========== about me section ========== */

.about_me_container svg{
    width: 25vw;
    margin-right: 4rem;
}
.text_about_me{
    font-size: 1rem;
    width: 100%;
    padding: 1.2rem;
    word-wrap: break-word;
}
/* =========work section ============ */
.project_title{
    font-size: 1.3rem;
}
.description{
    font-size: 0.8rem;
}

 .work{
display: flex;
flex-direction: column;
align-content: center;
justify-content: space-between;
padding: 1.3rem;
color: #eaebed;
gap: 1rem;
height: 100%;
align-items: center;

justify-content: center;
margin: 1.4rem 1rem;
}

/* ======= contact me ======= */

.section-contact-main {
    max-width: 65rem;
    margin: 0 auto;
    margin-top: 8rem;
    padding: 2.4rem;    
}
.contact_para{
    font-size: 1.2rem;
    
}
}
/* ==== mobile foooter ===== */
.mobile_footer{
    display: block;
    padding: 4rem 1rem;
}
.mobile_footer a{
    color: var(--secondary-color);
    font-size: 7rem;
    font-family: 'Mova';
    font-style: normal;
    font-weight: 400;
    /* text-align: center; */
    cursor: pointer;

}
.mobile_footer_container{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    
    

}
.mobile_footer_container img{
    background: white;
    border: 3px solid var(--grey-color);
}
.soical_icons{
    display: flex;
    gap: 2.5rem;
   
}
.footer_contact {
    font-size: 1.3rem;
    color: white;
}
.footer_contact a{
    color: #EAEBED;
    font-size: 1.5rem;
    
}
@media screen and (max-width:570px) {
    .main_middle{
        display: flex;
        height: 100%;
        width: 100vw;
        align-items: left;
        margin: 4rem 1.3rem;
        padding-inline: 1rem ;
     }
     h1{
        font-size: 3.9rem;
     }
     .main_p2{
        font-size: 1rem;
    }
    .main_btn{
        font-size: 1.2rem;
         padding: 4px;
    }
    .heading2_p{
        font-size: 2rem;
        word-wrap: break-word;
    }
   

    /* =========work section ============ */
.project_title{
    font-size: 1.5rem;
}
.description{
    font-size: 1.1rem;
}
.project_intro{
    font-size: 1.1rem;
}
 .work{
display: flex;
flex-direction: column;
align-content: center;
justify-content: space-between;
padding: 1.1rem;
color: #eaebed;
gap: 0.8rem;
height: 100%;
align-items: center;
justify-content: center;
margin: 0.8rem 0.2rem;
}
.left, .right{
    width: 100%;
}
/* ==== about me ====== */
.about_me_container svg{
    display: none;
}
.about_me{
    padding: 10rem 0rem 5rem 0rem;
}
.about_me_container{
    display: grid;
    align-items: center;
    justify-content: center;
    font-size: 1rem;
    
}
.text_about_me{
    font-size: 1rem;
    width: 100%;
    padding: 1.2rem;
    word-wrap: break-word;
}

/* ===== contact me ====== */
.section-contact{
    padding-top: 2rem;
}
.section-contact-main {
    max-width: 50rem;
    margin: 0 auto;
    padding: 1.5rem;    
}
.section-contact-main form {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}
.section-contact-main input,
textarea {
    padding: 1rem 1.4rem;
    border: 3px solid #98DAD9;
    border-radius: 3px;
    width: 100%;
    font-size: 1.2rem;
   
}
.contact_para{
    font-size: 1.2rem;
   
    
}
    
}


@media screen and (max-width:365px){
.main{
    display: flex;
    width: 100vw;
    text-align: left;
    align-items: center;
    justify-content: center;
    padding-bottom: 3rem;
}
     h1{
        font-size: 3.5rem;
     }
     .main_p2{
        font-size: 1.2rem;
        margin-top: 0.5rem;
        word-wrap: wrap;
    }
    .main_btn{
        font-size: 1.2rem;
         padding:0.8rem;
    }
    .heading2_p{
        /* max-width: 90vw; */
        font-size: 1.4rem;
        word-wrap: break-word;
    }
   
/* === about me ==== */

    /* =========work section ============ */
   
.project_title{
    font-size: 1.3rem;
}
.description{
    font-size: 1rem;
}
.project_intro{
    font-size: 1.1rem;
}
 .work{
display: flex;
flex-direction: column;
align-content: center;
justify-content: space-between;
padding: 1rem;
color: #eaebed;
gap: 0.6rem;
height: 100%;
align-items: center;
justify-content: center;
margin: 0.6rem 0.1rem;
}
.left, .right{
    width: 100%;
}
/* ==== about me ====== */
.about_me_container svg{
    display: none;
}
.about_me{
    padding: 10rem 0rem 5rem 0rem;
}
.about_me_container{
    display: grid;
    align-items: center;
    justify-content: center;
    font-size: 1rem;
    
}
.text_about_me{
    font-size: 1rem;
    width: 100%;
    padding: 1rem;
    word-wrap: break-word;
}

/* ===== contact me ====== */
.section-contact{
    padding-top: 2rem;
}
.section-contact-main {
    max-width: 50rem;
    margin: 0 auto;
    padding: 1.5rem;    
}
.section-contact-main form {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}
.section-contact-main input,
textarea {
    padding: 1rem 1.4rem;
    border: 3px solid #98DAD9;
    border-radius: 3px;
    width: 100%;
    font-size: 1.2rem;
   
}
.contact_para{
    font-size: 1.1rem;;
    
}


}